.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 28px;
    padding: 140px;
    margin: auto;
    
    width: auto;
}   

.about_title, .about_text {
    align-self: flex-start;
    text-align: left;

}

.about_title {
    font-weight: bold;
}

.about_text {
    font-size: 25px;
}

