.navbar {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    margin: 28px 28px;
    position: fixed;
    top:0px;
    right: 0px;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 17px;
    gap: 20px;
}

.menu li:hover {
    color: #ff6347; /* Change this to your desired hover color */
  }

  .anchor-link {
    text-decoration: none;
    color: white;
  }